* {
    color: rgb(0, 247, 255);
    background-color: #000;
    font-family: "Raleway";
    letter-spacing: 1px;
  }

  h3 {
    letter-spacing: 2px;
  }

  input, button {
    padding: 10px;
  }

  #content{
    width: 80%;
    margin: 0 auto;

  }
  img {
    width: 200px;
    height: auto;
  }